<mat-drawer-container class="py-2">
  <mat-drawer mode="side" opened>
    <div class="container">
      Links
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container">
      <h1>Memorizer app</h1>

      <div class="my-3">
        <nx-test-test-component [input1]="input1"
                                [input2]="input2"
                                (output1)="output1($event)"
                                (output2)="output2($event)">
          <h2>Projected content</h2>
        </nx-test-test-component>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
